* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

.card {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 50%;
  height: 500px;
  background: url("https://www-cdn.eumetsat.int/files/styles/16_9_large/s3/2020-06/ASpot_Weather.jpg?h=d1cb525d&itok=lvYWh_W8")
    no-repeat center center fixed;
  background-size: cover;
}

.search-btn {
  margin: 6px;
  padding: 6px;
  color: white;
}

.city-desc {
  color: white;
}
.temp-desc {
  color: white;
}
.min-temp {
  color: black;
  font-weight: bold;
  font-size: 14px;
}
.max-temp {
  color: black;
  font-weight: bold;
  font-size: 14px;
}
.error{
    color: white;
    font-size: 20px;
    text-transform: capitalize;
}