* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.card-main {
  height: 557px;
  width: 900px;
  background: url(./Images/mike-erskine-BWqinEVjUKo-unsplash1.jpg) no-repeat;
  background-size: cover;
  margin: 0 auto;
  position: relative;
  right: 21%;
  /* box-shadow: -3px -2px 29px -3px rgba(0, 0, 0, 0.36);
   */
  box-shadow: -3px -2px 39px -16px rgba(0, 0, 0, 0.67);
}
